<!DOCTYPE HTML/>
<html>
  <head>
    <title>Justin Loffredo</title>
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
    <link rel="stylesheet" types="text.css" href= "/css/personal_website.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

</head>

  <body>

	<div class = "template">
    <div class="template-content">
		  <div class="template-header">

      	  <!-- <h1 class= "template-name-in-header">Justin Loffredo</h1> -->
      	  <div class= "nav-section">
            <ul class= "nav-links">
              <% for (let i = 0; i < links.length; i++) { %>
                <a class = "nav-links-link" href= "<%= links[i].href %>">
                <%= links[i].text%>
                </a>
              <% } %>
              </ul>
				  </div>
		  </div>

        <main class= "template-main">
			    <%-include("pages/" + page, args);%>
		    </main>
      </div>
    </div>
    <% if (message) { %>
      <p class="message"><%- message %></p>

    <% } %>
    <footer class= "template-footer">
      <h2 class= "template-footer-h2">Posted By: JUSTIN LOFFREDO</h2>
      <a href="https://www.linkedin.com/in/justinloffredo/">
        <img class="template-footer-linkedin" src= "/images/linkedin.svg">
      </a>
    </footer>
	</div>


</body>
</html>
