<!DOCTYPEhtml/>
<html>
  <head>
    <title>Justin Loffredo</title>
    <meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
    <link rel="stylesheet" types="text.css" href= "/css/personal_website.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">



	</head>

  <body>

	<div class = "template">
		<a href= "/" class= "template-header-section">

      	<h1><Justin Loffredo></h1>
      	<div class= "nav">

				</div>
		</a>


		<main class= "template-main">
			<%- include("pages/" + page, args);%>
		<main>

		<footer class= "template-footer">Justin Loffredo's Site</footer>
	</div>


</body>
</html>
