* {
	box-sizing: border-box;

}
/*
html, body {
	height: 100%;
}*/
body {
  display: flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
	background: url("/images/giantscauseway.jpg") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;

}

.template {
flex: 1 0	auto;
text-align: center;
min-height: 100%;
width: 100%;
margin: auto;
}

.template-header{
	width:100%;
	height:75px;
	background: rgba(255, 255, 255, .9);
}


.template-footer {
  height: 75px;
  width: 100%;
	background: rgba(255, 255, 255, .9);
	text-align: center;
	clear:both;
}

.template-footer-linkedin{
	float: left;
	width: 35px;
	height: 35px;
	display: inline-block;


}

.template-footer-h2 {
	float: right;
	display: inline-block;
	padding: 10px;
	font-family: 'Humger';
	font-size: 30px;
	color: rgb(4, 25, 58);
	line-height: 25.5px;
	letter-spacing: .32px;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 5px;
	}

.template-name-in-header {
	position: absolute;
	height: 75px;
	width: 240px;
	font-size: 20px;
	text-shadow: 1px .75px 0px #fff, 2.25px 2px 0px rgba(0,0,0,0.15);
	line-height: 75px;
	text-align: center;
	font-family: 'Humger', serif;
	color: rgb(0,0,0);
}

.nav-section {
	position: absolute;
	height: 75px;
	width: 1110px;
	left: 50%;
	margin-left: -555px;
}


.nav-links {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

.nav-links-link {
display: inline-block;
float: right;
padding: 8px;
height: 75px;
width: 180px;
color: rgb(4, 25, 58);
font-size: 15px;
line-height: 75px;
text-align: center;
font-family: 'Humger';

}

.template-main {
	width: 100%;

}
.main-section {
	width: 100%;
	height:65%;

}

/*Home Page*/



.homeTitle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(4, 25, 58);
	font-size: 70px;
	font-family: Humger;
}



/*Biography Page*/
.about-me-paragraph{
	position: relative;
	margin-top: 50px;
	margin-bottom: 25px;
	padding: 10px;
	border-radius: 2%;
	top:25%;
	width: 400px;
	left:50%;
	margin-left: -150px;
	background: rgba(255, 255, 255, .9);

}

p {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	line-height: 25.5px;
	letter-spacing: .32px;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 5px;
	clear: both;
	}
/* Gallery Page CSS */
	.gallery {
		position: relative;
		width: 100%;
		max-width: 832px;
		margin: auto;
	}

	.gallery-image {
		float: left;
		width: 400px;
		height: 265px;
		margin: 8px;
		border: 4px solid #FFF;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.gallery-image.boat {
	background-image: url("/images/boat.jpg");
	}

	.gallery-image.anchor {
	background-image: url("/images/anchor.jpg");
	}

	.gallery-image.monastic {
	background-image: url("/images/monastic.jpg");
	}

	.gallery-image.herdingsheep {
	background-image: url("/images/herdingSheep.jpg");
	}

	.gallery-image.killarneyboy {
	background-image: url("/images/killarneyBoy.jpg");
	}

	.gallery-image.newgrange {
	background-image: url("/images/newGrange.jpg");
	}

	.gallery-image.wicklowdog {
	background-image: url("/images/wicklowDog.jpg");
	}

	.gallery-image.ringofkerrymananddog {
	background-image: url("/images/ringOfKerryManAndDog.jpg");
	}

	@media all and (max-width: 832px) {
	  .gallery-image {
	    float: none;
	    margin: 10px auto;
	  }
	}

	@media all and (max-width: 500px) {
	  .gallery-image {
	    border: none;
			padding: 10px;
			width:100vw;
			height:100vw;
		}
	}

	.gallery-image.boat {
	background-image: url("/images/boatSmall.jpg");
	}

	.gallery-image.anchor {
	background-image: url("/images/anchorSmall.jpg");
	}

	.gallery-image.monastic {
	background-image: url("/images/monasticSmall.jpg");
	}

	.gallery-image.herdingsheep {
	background-image: url("/images/herdingSheepSmall.jpg");
	}

	.gallery-image.killarneyboy {
	background-image: url("/images/killarneyBoySmall.jpg");
	}

	.gallery-image.newgrange {
	background-image: url("/images/newGrangeSmall.jpg");
	}

	.gallery-image.wicklowdog {
	background-image: url("/images/wicklowDogSmall.jpg");
	}

	.gallery-image.ringofkerrymananddog {
	background-image: url("/images/ringOfKerryManAndDog.jpg");
	}

	/* Country Info */

	.country-info {
		min-height: 100%;
	}

	.Flag-Header {
	position: relative;
	width: 100%;
	display: block;
	font-size: 50px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: #FFF;
	}

	.Flag {
		margin: 10px;
		width: 300px;
		height: 200px;
	}

	.Flag-Info {
		color: #FFF;

	}


	/*404 Page*/

	.Error-Page {
	background-image: url("/images/mindtrick.gif");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	min-height: 100%;
	}

	.Error-Page-Header {
		position: absolute;
		margin: 20px;
		font-family: 'STARWARS';
		width: 100%;
		font-size: 100px;
		text-align: center;
		color: #cc0a0a;
		clear: both;
	}

	/*Form CSS*/

	.form-header {
		padding: 20px;
		font-size: 24px;
		color: #FFF;
		width: 100%;
		margin: 0;
		font-family: 'Lora', serif;
		}

.form {

	max-width: 340px;
	margin: 0 auto;
	top: 80px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
	background: rgba(255, 255, 255, .9);
	}

input[type=text]:	focus {
    border: 3px solid #555;
}
input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
		text-align: center;
		font-size: 15px;
	}
	input[type=password] {
	    width: 90%;
	    padding: 12px 20px;
	    margin: auto;
	    box-sizing: border-box;
			text-align: center;
			font-size: 15px;
		}
		.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}
.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.form-button {
		display: block;
		width: 90%;
		margin: auto;
		padding: 10px;
		font-size: 15px;
	}

	textarea {
		resize:none;
		width: 90%;
		margin: auto;
		height: 150px;
	}

	.form-message {
	height: 75px;
	font-style: oblique;
	font-size: 35px;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	color: #FFF;
	line-height: 120px;
	text-align: center;
	margin: 15px;
	}

	/*Blog CSS*/

	.site {
		width: 90%;
		background-color: rgba(255, 255, 255, 0.5);
		margin: auto;
		padding: 10px;
	}

	.place {
		font-size: 26px;
		text-align: center;
		padding: 10px;
	}

	.dates {
		font-size: 15px;
	}

	.dateTo {
		display: inline-block;
	}

	.dateFrom {
		display: inline-block;
	}

	.blogImage {
		width: 500px;
		height: 331px;
		margin: 15px;
	}
