.<h1 class = "form-header"> Post to Travel Blog</h1>

<form class = "form" action= "/form" method = "POST">
	<input type = "text" name = "name"
	placeholder = "Enter the place visited"><br>
	<textarea name = "description"
	placeholder = "Enter the description of the place visited"> </textarea><br>
	Please Enter the Date of This Post
	<input type = "DATE" name = "from"><br>
	Please Enter the End Date of This Post
	<input type = "DATE" name = "to"><br>
	<input type = "text" name = "href"
	placeholder = "Enter the HREF to Flickr"><br>
<div class = "select-style">
	<select name = "img">
		<% for(let i=0; i < images.length; i++) { %>
			<option value=<%=images[i]%>> <%=images[i]%> </option>
		<% } %>
	</select>
	</div>
	<button class= "form-button">Submit</button>

</form>

<% if (message) { %>
	<p class="form-message"><%- message %></p>

<% } %>
