.<h1 class = "form-header"> Post to Travel Blog</h1>

<form class = "form" action= "/form" method = "POST">
	<input type = "text" name = "name"
	placeholder = "Enter the place visited">
	<input type = "text" name = "description"
	placeholder = "Enter the description of the place visited">
	Please Enter the Date of This Post
	<input type = "DATE" name = "from"><br>
	Please Enter the End Date of This Post
	<input type = "DATE" name = "to"><br>
	<input type = "text" name = "href"
	placeholder = "Enter the HREF to Flickr">
	<input type = "text" name = "img"
	placeholder = "Enter the IMG Source">

	<button class= "form-button">Submit</button>

</form>
