<h1 class = "form-header">Please Enter Your Username and Password</h1>




<form class = "form" action= "/login" method = "get">
	<input type = "text" name = "user"
	placeholder = "User">
	<input type = "password" name = "password"
	placeholder = "Enter Your Password">
	<button class= "form-button">Submit</button>
</form>
